<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
<title>My Website</title>
</head>
<body>

<div class="topnav">
  <a class="active" href="#">Home</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
  <a href="/register">Register</a>
  <div  class="login-container">
    
      <form id="status" action="/login" method="POST">
        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Password" name="password">
        <button type="submit">Login</button>
      </form>
    
    {{#if status}}
        <h4>{{status}}</h4>
      
    {{/if}}

  </div>
</div>

<div style="padding-left:16px">
  <h2>Responsive Login Form in Navbar</h2>
  <p>Navigation menu with a login form and a submit button inside of it.</p>
  <p>Resize the browser window to see the responsive effect.</p>
  <p>Please log in to view your profile.</p>

{{#if message}}
        <h4>{{message}}</h4>
      
        {{/if}}

{{#if status}}
</div>
    <script>   
        
        document.getElementById('status').outerHTML = "<form action='/logout' method='POST'><button>Log Out</button></form>"
    </script>           
{{/if}}
    



</body>
</html>
